@charset "UTF-8";
/* CSS Document */
/* Created by Fraser Catlin */
/* Date - 26/10/2009 */
/* Company - Capital IT Consultants LTD */

/* Import sub-stylesheet */

@import "menu.css";
@import "header.css";
@import "footer.css";

/* Font Styles */

.AdviceHeaderStyle {
	font-size: 18px;
	font-weight: bold;
 	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #3366CC;
	}
	
.AdviceBodyStyle{
	font-size: 12px;
	font-weight: normal;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #003366;
	}
	
.AdviceBodyStyle a{
	text-decoration: none;
	color: #4BCE00;
	}
	
.GeneralAdviceHeaderStyle{
	font-size: 16px;
	font-weight: normal;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #FF9933;
	}
	
.GuidesHeaderStyle{
	font-size: 16px;
	font-weight: normal;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #FF9933;
	}
	
.SoftwareLinksHeaderStyle{
	font-size: 16px;
	font-weight: normal;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #FF9933;
	}

/* Main Body layout styles */

#PageDiv{
	position: relative;
	width: 850px;
	height: 900px;
	margin: 20px auto 20px auto;
	}

#BodyDiv{
	clear: both;
	}
	
#BodyNonNav{
	width:700px;
	float:right;
	}
	
#AdviceSection{
	margin-left: 20px;
	margin-right: 20px;
	margin-top: 20px;
	margin-bottom: 20px;
	width: 660px;
	float: left;
	}

#AdviceHeader{
	
	}
	
#AdviceBody{
	margin-top: 20px;
	}
	
#IntroductionParagraph{
	}

#GeneralAdviceHeaderDiv{
	padding-top: 10px;
	}	

#GuidesHeaderDiv{
	padding-top: 10px;
	}
	
#SoftwareLinksHeaderDiv{
	padding-top: 10px;
	}

